body{
    font-family: Questrial;
}
header img {
    display: flex;
    position: left;
    justify-content: left;
}
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
   
}

nav li {
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
}

nav li a {
    color: darkgray;
    text-transform: uppercase;
    text-decoration: none;
}

section {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.item{
    flex: 1 1 350px;
    margin-bottom: 2rem;
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    
}

.last_item {
    flex: 1 1 350px;
    margin-bottom: 2rem;
}
.last_item img {
    display: block;
   margin-bottom: 0.5rem;
    margin: 0 auto;
    width: 35%;
}