*
{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: questrial;
    color: white;
}

body{
    background-image: url('../fotos/bcg1.jpg');
			height: 100vh;
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
}

.parallax {
    background-image: url('./fotos/bcg1.jpg'); /* Replace with your image path */
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parallax-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
}

header img {
    display: flex;
    position: left;
    justify-content: left;
}
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    
   
}

.login {
    margin-top: 30%;
}
.login li a {
    font-size: larger;
    font-weight: 600;
}

nav li {
    display: flex;
    margin: 0.5rem;
    padding: 1rem;
   
}

nav li a {
    color: rgb(211, 211, 211);
    text-transform: uppercase;
    text-decoration: none;
}

section {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.head{
    display: flex;
    justify-content: space-between;
}

.index {
    margin-top: 5%;
}

hr {
    color: white !important;
}

.item{
    flex: 1 1 350px;
    margin-bottom: 2rem;
}

.item img {
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    
}

.last_item {
    flex: 1 1 350px;
    margin-bottom: 2rem;
}
.last_item img {
    display: block;
   margin-bottom: 0.5rem;
    margin: 0 auto;
    width: 35%;
    object-fit: cover;
    height: 250px; 
    transition: 0.3s opacity, transform 0.3s; 
}
.last_item img:hover {
    opacity: 0.8;
    transform: scale(0.980);
}

#skin-backstory {
    margin-right: 35%;
    margin-top: 1%;
}


#skin-image {
    float: left;
    display: block;
    margin-bottom: 0.5rem;
     /*margin: 0 auto;*/
     margin-left: 20%;
     width: 30%;
     object-fit: cover;
     transition: 0.3s opacity, transform 0.3s; 
}

button {
    margin-top: 2%;
    margin-left: 5%;
    padding: 4px;
}
.class {
    color: white;
}
button a {
    text-decoration: none;
    color: black;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 6px;
    font-size: 25px;
    margin-top: 1% !important;
}
h2{
    letter-spacing: 4px;
    font-family: questrial;
    margin-top: 10%;
}

.container img:hover {
    opacity: 0.8;
    transform: scale(0.980);
}

.item img {
    display: block;
     width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 250px; 
    transition: 0.3s opacity, transform 0.3s;  

}

.introhead {
    font-size: 30px;
}
#intro {
    margin-top: 1%;
    font-size: larger;
}
.item img:hover {
    opacity: 0.8;
    transform: scale(0.980);
  }


/*footer*/

footer {
    margin-top: 8%;

}
footer p {    
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    font-family: questrial;
}

footer a {
  text-decoration: none;
  color: black;
  
}
footer a:hover {
  opacity: 0.7;
}