h2 button {
    border-style: none;
    background-color: transparent;
    font-size: 25px;
    transition: transform 0.5s;
}

#ster #blacklist { 
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: lighter;
}


h2 button:hover {
    transform:scale(1.5);
}
