<%- include("header") %>
  <body id="blacklistBody">
    <header>
      <%- include("nav") %>
    </header>
 
    <h2 id="blacklistH2">Blacklisted Avatars</h2>
    <hr>
    <div class="image-blurred-edge"></div>
    <div id="blacklist-image-container">
      <div class="blacklist-image">
        <img src="./fotos/550x575.jpg" alt="Image 1">
            <div class="blacklist-image-caption">
              <p>Name: Image 1</p>
              <p>Reason of blacklisting ? : reasoning loading </p>
              <p>Change reasoning: <ion-icon name="repeat-outline"></ion-icon></p>
              <p>Delete character: <ion-icon name="trash-outline"></ion-icon></p>
        </div>
      </div>
      <div class="blacklist-image">
        <img src="./fotos/720dd0f4f0db095_666x630.jpg" alt="Image 2">
        <div class="blacklist-image-caption">
            <p>Name: Image 2</p>
            <p>Reason of blacklisting ? : reasoning loading </p>
            <p>Change reasoning: <ion-icon name="repeat-outline"></ion-icon></p>
            <p>Delete character: <ion-icon name="trash-outline"></ion-icon></p>
        </div>
      </div>
      <div class="blacklist-image">
        <img src="./fotos/dc9a1307eea8f03_666x630.jpg" alt="Image 3">
        <div class="blacklist-image-caption">
          <p>Name: Image 3</p>
          <p>Reason of blacklisting ? : reasoning loading </p>
          <p>Change reasoning: <ion-icon name="repeat-outline"></ion-icon></p>
          <p>Delete character: <ion-icon name="trash-outline"></ion-icon></p>
        </div>
      </div>
      <div class="blacklist-image">
        <img src="./fotos/fortnite-outfit-8-ball-vs-scratch.jpg" alt="Image 4">
        <div class="blacklist-image-caption">
            <p>Name: Image 4</p>
            <p>Reason of blacklisting ? : reasoning loading </p>
            <p>Change reasoning: <ion-icon name="repeat-outline"></ion-icon></p>
            <p>Delete character: <ion-icon name="trash-outline"></ion-icon></p>
        </div>
      </div>
      <div class="blacklist-image">
        <img src="./fotos/Mogul-Master.jpg" alt="Image 5">
        <div class="blacklist-image-caption">
          <p>Name: Image 5</p>
          <p>Reason of blacklisting ? : reasoning loading </p>
          <p>Change reasoning: <ion-icon name="repeat-outline"></ion-icon></p>
          <p>Delete character: <ion-icon name="trash-outline"></ion-icon></p>
        </div>
      </div>
      <div class="blacklist-image">
        <img src="./fotos/skeleton.jpg" alt="Image 6">
        <div class="blacklist-image-caption">
          <p>Name: Image 6</p>
          <p>Reason of blacklisting ? : reasoning loading </p>
          <p>Change reasoning: <ion-icon id="Change" name="repeat-outline"></ion-icon></p>
          <p>Delete character: <ion-icon name="trash-outline"></ion-icon></p>
        </div>
      </div>
    </div>
    <footer id="index_footer">
      <hr>
      <p> 
          <a href="https://www.facebook.com/"><span>facebook <i class="fa-brands fa-square-facebook"></i></span></a>
          <a href="https://twitter.com/"><span>twitter <i class="fa-brands fa-twitter"></i></span></a>
          <a href="https://www.instagram.com/"><span>instagram <i class="fa-brands fa-instagram"></i> </span></a>
      </p>
     <p>  &copy; Terry Boateng | Bilal Zaroili | Abdimahad Gass | Nikola Maksimović | Ilias &nbsp; G_1PRO_D2 &nbsp; All Rights Reseverd</p>
        
  </body>
</html>
