
<%- include("header") %>

<body id="indexBody">
    <header id="indexHeader">
        <img class="epic" src="./fotos/logo.png" width="300px" height="">
        <nav class>
              
            <ul class="login" >
                <li><a href="/login">Login &nbsp;</a><ion-icon name="people"></ion-icon></li>
            </ul>
        </nav>
    </header>   

   

    <main id="indexMain">
        <div id="modalLanding" class="modal">
            <div id="contentLanding" class="modal-content">
              <span class="close">&times;</span>
              <p id="modalTextIndex"><%=modalText%></p>
            </div>
          </div>
       
        <div class="parallax">
            <div class="parallax-overlay">
                <h1 class="introhead">Welcome to Epic Games</h1>
                <p id="intro">Welcome to this epic gaming universe where boundaries of reality is transcended and the impossible becomes possible.</p>
            </div>
        </div>
        <h1 id="indexH1">Access your Project</h1>
        <section class="overzichtTopics">
            <article class="item">
                <a class="project" href="#"><img src="fotos/legomasters.jpg" width="410.84" height="417.11" alt=""></a>
                <p>Legomasters</p>
            </article>
            <article class="item">
                <input type="hidden" id="ingelogd" name="ingelogd" value="<%= ingelogd %>">
                <a class="project" href="/home"> <img src="fotos/fortnite-wallpaper.jpg" width="410.84" height="417.11" alt=""></a>
                <p>Fortnite</p>   
            </article>
            <article class="item">
                <a class="project" href="#"><img src="fotos/LOTR.jpg" width="410.84" height="417.11" alt=""></a>
                <p>Lord Of The Rings</p>
            </article>
            <article class="item">
                <a class="project" href="#"><img src="fotos/messi.jpg" width="410.84" height="417.11" alt=""></a>
                <p>Fifa (messi > ronaldo)</p>
            </article>
            <article class="item">
                <a class="project" href="#"><img src="fotos/mtg.jpg" width="410.84" height="417.11"alt=""></a>
                <p>Magic: The Gathering</p>
            </article>    
            <article class="item">
                <a class="project" href="#"><img src="fotos/NBB.jpg" width="410.84" height="417.11"alt=""></a>
                
                <p>Nationale Bank van België</p>
            </article>
            <article class="last_item">
                <a class="project" href="#"> <img src="fotos/pokemon.jpg" width="410.84" height="417.11"alt=""></a>
               
                <p id="poke">Pokémon</p>
            </article>        
        </section>

        
    </main>
    
    <footer id="index_footer">
        <hr size="1">
        <p> 
            <a href="https://www.facebook.com/"><span>facebook <i class="fa-brands fa-square-facebook"></i></span></a>
            <a href="https://twitter.com/"><span>twitter <i class="fa-brands fa-twitter"></i></span></a>
            <a href="https://www.instagram.com/"><span>instagram <i class="fa-brands fa-instagram"></i> </span></a>
        </p>
       <p>  &copy; Terry Boateng | Bilal Zaroili | Abdimahad Gass | Nikola Maksimović | Ilias &nbsp; G_1PRO_D2 &nbsp; All Rights Reseverd</p>
    </footer>
</body>
</html>