<%- include("header") %>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Quicksand:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container2">
      <div class="center">
        <a href="/home"> 
          <button class="btn">go back
          <svg width="90px" height="60px" viewBox="-12 0 185 112" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
        </button>
      </a>
       
      </div>
    </div>
    <div id="avatar">
      <img id="avatarImage" src="/fotos/user.png" alt="">
    </div>
    <main>
      <div id="ModalSkinBlackList" class="modal">
        <div id="content-SkinBlackList" class="modal-content">
          <span class="close">&times;</span>
          <form action="/skin" method="post">
            <label for="reden">Reden voor blacklist:</label>
            <input type="text" name="redenBlackList" id="redenBlackList">
            <input type="submit" value="character blacklisten">
          </form>
        </div>
      </div>
        <h1 id="skin-name"></h1>
        <br>
        <hr>
        <br>
        <br>
        <figure>
          <img id="skin-image" src="" alt="">
        </figure> 
    </main>
    <aside id="skinAside">
        <br>
        <br>
        
        <h2>Backstory</h2>
        <p id="skin-backstory" style="text-align: right;"></p>
        <br>
        <br>
        <br>
        <br>
        <div class="icon">
          
            <h3 id="ster">Add to favoriet:</h3>
            <h3 id="blacklist">Add to blacklist:</h3>
            <h3 id="pfp"><button id="knopAvatar" class="btn">Add as PFP
</button>
          </h3>
            
    
        </div>
    </aside>
    
    <footer id="index_footer">
      <hr>
        <p> 
            <a href="https://www.facebook.com/"><span>facebook <i class="fa-brands fa-square-facebook"></i></span></a>
            <a href="https://twitter.com/"><span>twitter <i class="fa-brands fa-twitter"></i></span></a>
            <a href="https://www.instagram.com/"><span>instagram <i class="fa-brands fa-instagram"></i> </span></a>
        </p>
       <p>  &copy; Terry Boateng | Bilal Zaroili | Abdimahad Gass | Nikola Maksimović | Ilias &nbsp; G_1PRO_D2 &nbsp; All Rights Reseverd</p>
    </footer>

    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const skinName = decodeURIComponent(urlParams.get("name"));
      const skinImage = decodeURIComponent(urlParams.get("image"));
      const skinBackstory = decodeURIComponent(urlParams.get("backstory"));
      document.getElementById("skin-name").textContent = skinName;
      document.getElementById("skin-image").src = skinImage;
      document.getElementById("skin-backstory").textContent = skinBackstory;
    </script>
  </body>
</html>